
body {
  font-family: Arial, Helvetica, sans-serif;
  
}


.main-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid #e6e0e0;
  border-radius: 1%;
  margin-inline: 10%;
}

.main-drop{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  gap: 1.8rem;
  padding: 1rem;

}

.main-icons {
  position: absolute;
  right: 2%;
  top: 35%;
}

.user-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: white;
  color: white;
  border: 2px solid #7bdaeb;
  margin-left: 0.7rem;
}

.drops-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-top: 2px solid #e6e0e0;

}

.drops1{
  position: relative;
  border-bottom: 2px solid #e6e0e0;

}

.drops2{
  position: relative;
  border-bottom: 2px solid #e6e0e0;

}

.drops3{
  position: relative;
  border-bottom: 2px solid #e6e0e0;

}

.drops4{
  position: relative;
  border-bottom: 2px solid #e6e0e0;

}

.main-icons-drops {
  position: absolute;
    right: 0.2%;
    top: 35%;
}

.drops-texts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.drops-title {
  font-size: 1.2rem;
  justify-content: left;
  font-weight: 200;
  padding-right: 25px;

}

.drops-description {
  font-size: 1rem;
  padding-right: 10%;
}

.title {
  font-size: 1.5rem;
  font-weight: 400;
  
}

.description {
  color: #757575 ;
}





@media (max-width:1000px) {

  html{
    -ms-overflow-style: none;
   scrollbar-width: none;
  }

  html::-webkit-scrollbar {
    display: none;
  }

 .main-div{
  margin-inline: 0;
 }

  .main-drop{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    gap: 1.5rem;

  }

  .main-icons {
    position: absolute;
    right: 2%;
  }

  .user-icon-div {
    width: 57px;
    height: 57px;
    margin-left: 0.5rem;
  }

  .title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .description {
    color: #757575 ;
  }

  .drops{
    position: relative;
  }

  .drops-texts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .drops-title {
    font-size: 1.2rem;
    justify-content: left;
    font-weight: 200;
    padding-right: 10%;

  }

  .drops-description {
    font-size: 1rem;
    padding-right: 3%;
  }

  
}